.footer {
    width: 100%;
	margin: 0 auto;
    margin-top: 60px;
	.top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0px 120px;
		background-color: #3F5D45;
		height: 116px;
		.footerBar {
        	display: flex;
			align-items: center;
			img {
                width: 40px;
            }
            h2 {
                font-size: 24px;
                color: #EAF0ED;
				margin-left: 24px;
            }
		}
		.footerEmail {
			display: flex;
			align-items: center;
			position: relative;
			width: 316px;
			img {
				display: block;
                width: 24px;
				position: absolute;
				margin-left: 20px;
			}
			input {
				font-size: 20px;
				padding: 10px 10px 10px 54px;
			}
            a img {
				position: absolute;
				padding: 15.5px 15.5px;
				background-color: #FFE180;
				width: 16px;
				right: 0;
				bottom: 0;
			}    
        }
    }
	.main {
		padding: 30px 120px 0px 120px;
		display: flex;
		justify-content: space-between;
		background-color: #EAF0ED;
		.information {
			display: flex;
			flex-direction: column;
			img {
				width: 172px;
				margin-bottom: 115px;
			}
			li, a {
				color: #3F5D45;
				line-height: 1.5;
			}
		}
		h2 {
			font-size: 24px;
			color: #3F5D45;
			writing-mode: vertical-rl;
			line-height: 1.5;
			letter-spacing: 0.1em;
		}
	}
	.bottom {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding: 30px 120px;
		background-color: #EAF0ED;
		a {
			display: inline-block;
			width: 32px;
		}
		.copyright p {
			color: #3F5D45;
			font-family: Times;
		}
	}
}